@font-face {
	font-family: 'regular';
	src: url('/fonts/alexandria-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
    --font-monospace-code: 'Fira Code', monospace;
    --font-system-ui: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
--font-regular: 'regular', sans-serif;
    --font-size-fluid-1: clamp(1rem, 1vw + 0.5rem, 1.25rem);

    --bg: #ffffff;
    --text: #111111;
    --link: #1a0dab;
}
html,
body {
	height: 100%;
}

html {
	/* font-family: var(--font-system-ui); */
	font-family: var(--font-regular);
	color: var(--text);
	accent-color: var(--link);
	background: var(--bg);
	background-attachment: fixed;
	font-size: var(--font-size-fluid-1);
	line-height: 1.4;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}